iframe#webpack-dev-server-client-overlay {
  display: none !important
}

html {

  scroll-behavior: smooth !important;
}

body {
  /* background-color: #102441; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth!important;
  background: #000E39;
  width: 100%;
  /* place-items: start; */


}

#root {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth!important;
}

/* Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #87B0ED;
  border-radius: 10px;
  border: none;
}

/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #87B0ED transparent;

  }

  *::-moz-scrollbar-thumb {
    border-radius: 10px;
    /* Add border-radius here */
  }
}





.text-to-animate {
  will-change: transform, opacity;
}




.main-subheader {
  background-color: #003699;
  text-align: center;
  padding: 8px 0px;
}

.main-subheader p {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
  color: white;
}







.new-navbar {
  /* width: 86%; */

  width: 90%;
  margin: auto;
  margin-top: 10px;
  z-index: 100;
}



.new-navbar-div {
  background-color: #003699;
  border-radius: 8px;
  padding: 10px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}





.digitaly-logo {
  width: 70%;
  height: auto;
}



.new-navbar-collapse {
  flex-grow: 0 !important;
}


.nav-link {
  /* font-weight: 500; */
}

.nav-link:hover {
  font-weight: 500;
}



.links-border {
  opacity: 0;
  /* Initially hidden */
  position: absolute;
  width: 0%;
  background-color: white;
  height: 3px;
  border-radius: 12px;
  top: 3pc;
  left: 0;
  /* Align with the nav-link */
  transform: translateX(15%);
  transition: width 0.3s ease-in-out;

  /* Smooth width animation */
}

.nav-item:hover .links-border {
  opacity: 1;
  /* Initially hidden */
  width: 76%;
}

/* Prevent parent height from being influenced */
.nav-item {
  position: relative;
  visibility: visible;
}






.language-change-dropdown-column {
  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-right: 15px;

  background-color: #003699;
  padding: 16px 9px;
  border-radius: 8px;
  /* width: 75px; */
  cursor: pointer;
}


.language-change-dropdown {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  width: 50px;
  margin-right: 0px;
  z-index: 1000;

  /* position: relative; */

}

.language-change-dropdown-icon {
  color: white;
  /* font-size: 19px; */
  width: 40%;
  height: auto;
  /* vertical-align: middle; */
}

.language-change-dropdown p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 6px;
  margin-bottom: 0px;
}



.language-change-dropdown-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* border: 2px solid red; */
  /* top: 4.5pc; */
  background-color: #003699;
  padding: 8px 5px;
  border-radius: 11px;
  /* right: 9.7pc; */
  text-align: center;

  z-index: 999;

  /* border: 2px solid red; */



  /* top: 100%;
  left: 50%; 
  transform: translateX(-50%); */

  top: 4.7pc;
  /* left: 50%;  */
  transform: translateX(-17%) !important;
}


.language-change-dropdown-2 p {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
  padding: 8px 0px;
  transition: 0.3s;
}

.language-change-dropdown-2 img {
  width: 30%;
  height: auto;
  vertical-align: middle;
  margin-right: 6px;

}

.language-change-dropdown-2 p:hover {
  background-color: #001233;
  color: white;
  border-radius: 16px;
  transition: 0.3s;
}




.lenterprise-sub-dropdown {
  display: flex;
  background: rgba(0, 54, 153, 1);
  height: max-content;
  /* border: 2px solid red; */
  position: absolute;
  border-radius: 12px;
  z-index: 1100;

  /* border: 3px solid red; */

  width: 79.4%;
  left: 5%;
}

.lenterprise-sub-dropdown-row {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
}

.lenterprise-sub-dropdown-column {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.lenterprise-sub-dropdown-column2 {
  display: flex;
  flex-direction: column;
  align-self: baseline !important;
  margin-top: 10px;
}



.lenterprise-sub-dropdown-column ul,
.lenterprise-sub-dropdown-column2 ul {
  line-height: 2;
}

.lenterprise-sub-dropdown-column ul li,
.lenterprise-sub-dropdown-column2 ul li {
  list-style: none;
}

.lenterprise-sub-dropdown-column ul li a,
.lenterprise-sub-dropdown-column2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}



.lenterprise-sub-dropdown-column ul li a:before,
.lenterprise-sub-dropdown-column2 ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.5px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
  border-radius: 10px;
}

.lenterprise-sub-dropdown-column ul li a:hover:before,
.lenterprise-sub-dropdown-column2 ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}



.dropdown-image {
  width: 290px;
  height: 215px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  /* Fade effect when image changes */
  border-radius: 12px;
}

.dropdown-image.fade-out {
  opacity: 0;
}

/* Show dropdown when hovering over the parent nav-item */
.nav-item:hover .lenterprise-sub-dropdown {
  display: block !important;
}



/* Optional: Add some transition to make the dropdown appear smoothly */
.lenterprise-sub-dropdown {
  /* opacity: 0;
  transition: opacity 0.3s ease; */
}

.nav-item:hover .lenterprise-sub-dropdown {
  opacity: 1;
}





.DigitalyAll-sub-dropdown-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.DigitalyAll-sub-dropdown-row {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.DigitalyAll-sub-dropdown-column1,
.DigitalyAll-sub-dropdown-column2 {
  display: flex;
  flex-direction: column;
  /* align-self: center; */
}


.DigitalyAll-sub-dropdown-column1 ul,
.DigitalyAll-sub-dropdown-column2 ul {
  line-height: 1.9;
  padding-left: 0px;
}

.DigitalyAll-sub-dropdown-column1 ul li,
.DigitalyAll-sub-dropdown-column2 ul li {
  list-style: none;
}

.DigitalyAll-sub-dropdown-column1 h4,
.DigitalyAll-sub-dropdown-column2 h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.DigitalyAll-sub-dropdown-column1 ul li a,
.DigitalyAll-sub-dropdown-column2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 15.5px;
  position: relative;
}




.DigitalyAll-sub-dropdown-column1 ul li a:before,
.DigitalyAll-sub-dropdown-column2 ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.5px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
  border-radius: 10px;
}

.DigitalyAll-sub-dropdown-column1 ul li a:hover:before,
.DigitalyAll-sub-dropdown-column2 ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}


.DigitalyAll-sub-dropdown-sitemap{
  background-color: rgba(10, 73, 189, 1);
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  border-radius: 10px;
}

.DigitalyAll-sub-dropdown-sitemap a{
  text-align: center;
  color: white;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.DigitalyAll-sub-dropdown-sitemap a:hover{
  font-weight: 500;
  transition: 0.3s;
}











.DigitalyAll-sub-dropdown-digitaly{
  background-color: rgba(10, 73, 189, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.DigitalyAll-sub-dropdown-digitaly a{
  text-align: center;
  color: white;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.DigitalyAll-sub-dropdown-digitaly:hover{
  font-weight: 500;
  transition: 0.3s;
  background-color: #1C61DF;
}


















.section-1-main-outline{
  font-size: 44px;
}


.rectangular-oval-white-prop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  opacity: 1;

  /* background: url('../../../public/images/Rectangle\ 9521.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; */

  /* border: 2px solid red; */
  /* display: none; */
}

.rectangular-oval-white-prop-2 {
  position: absolute;
  z-index: -1;
  top: -30%;
  right: -18%;
  /* margin-right: -10pc; */
}

.rectangular-oval-white-prop-3 {
  position: absolute;
  z-index: -1;
  top: -80%;
  left: 0;
}

.rectangular-oval-white-prop-4 {
  position: absolute;
  z-index: -1;
  top: -14.5pc;
  /* left: 0; */
  right: 0;
  rotate: 180deg;

  /* border: 3px solid red; */
}


.rectangular-oval-white-prop-4 img{
  width: 450px;
  height: auto;
}




.phone-img {
  width: 100% !important;
  height: 90vh !important;
  animation: levitate 1.3s infinite alternate;
  /* border: 3px solid red; */
}


.spline-watermark {
  display: none !important;
}

.spline-watermark span {
  display: none !important;
  width: 20px;
  height: 20px;
  background-image: url(https://app.spline.design/_assets/_icons/icon_favicon32x32.png);
  background-size: cover;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* slider */


.container-cus {
  width: 100%;
  height: 440px !important;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.container-cus input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-cus label {
  display: block;
  width: 32%;
  height: 3px;
  border: 4px solid white;
  border-radius: 24px;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  transition: border-color 0.3s linear;
  z-index: 2;
  /* Ensure buttons are above images */
}

.container-cus label.second {
  left: 34%;
}

.container-cus label.third {
  left: 68%;
}

.slide {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: opacity 1s ease;

}

#first:checked~label.first {
  border-width: 6px;
  border-color: #84AEEC;
}

#second:checked~label.second {
  border-width: 6px;
  border-color: #84AEEC;
}

#third:checked~label.third {
  border: 6px solid #84AEEC;
}

#first:checked~div.one {
  left: 0;
  opacity: 1;
}

#second:checked~div.two {
  left: 0;
  opacity: 1;
}

#third:checked~div.three {
  left: 0;
  opacity: 1;
}


/* slider end */



.section1-container{
  width: 88%;
  margin: auto;
}

.sec-1 .row {
  height: 80vh;
  /* border: 3px solid palevioletred; */
  background-attachment: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@keyframes color {
  0% {
    background-position: 0% 50%;
  }

  20% {
    background-position: 20% 50%;
  }

  40% {
    background-position: 40% 50%;
  }

  60% {
    background-position: 60% 50%;
  }

  80% {
    background-position: 80% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.gradient-text-sec-1 {


  background: linear-gradient(to right, #003699, #8DB9FB, #003699);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
}


.section1-contactus-row{
  display: flex;
  flex-direction: row;
}

.section1-contactus-btn{
  font-weight: 500;
  /* background: linear-gradient(to top right, #FFFFFF, #84AEEC); */
  background: #003699;
  color: white;
  transition: background 0.3s ease, opacity 0.9s ease;
  padding: 15px 65px;
  width: max-content;
  text-decoration: none;
  border-radius: 30px;

  z-index: 100;
}


.section1-first-column{
  margin-top: -3pc;
}


.section1-contactus-btn:hover{
  background: #1C61DF;
}


.section1-Presentation-row{
  align-items: center;
  display: flex;
  border: 2px solid #003699;
  border-radius: 35px;
  padding-left: 5px;
  padding-right: 18px;
  margin-left: 2.6pc;

  cursor: pointer;
  z-index: 100;
  
}

.section1-Presentation-row svg{
  background-color: white;
  color: #003699;
  padding: 10.8px 12px 10.8px 14px;
  border-radius: 30px;
  cursor: pointer;
}

.section1-Presentation-row a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding-left: 16px;
}
















.sec-2 {
  margin-top: 155px!important;
  /* background: linear-gradient(90deg, #1E4379 0%, #2E5DA2 51.5%, #1E4379 100%); */

  background: linear-gradient(100deg, rgba(0, 54, 153, 1) 0%, rgba(22, 104, 255, 1) 50%, rgba(0, 54, 153, 1) 100%);
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.overlap-img {
  margin-top: -90px;
}

.gradient-box-cus {
  border-radius: 20px;
  background: linear-gradient(to top right, #FFFFFF, #84AEEC);
  position: relative;
}

.gradient-box-cus::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  /* background: linear-gradient(to right, #84AEEC, #FFFFFF); */
  background: linear-gradient(to top right, #84AEEC, #FFFFFF);
  transition: opacity .9s ease;

}

.gradient-box-cus:hover::before {
  opacity: 1;
}

.gradient-box-cus>* {
  position: relative;
}

.sec-4-projects {
  margin-top: 100px;
  background: rgb(0,54,153);
background: linear-gradient(100deg, rgba(0,54,153,1) 0%, rgba(22,104,255,1) 50%, rgba(0,54,153,1) 100%);
  padding-bottom: 0px !important;
  padding-top: 35px;

  width: 90%;
  margin: auto;
  border-radius: 20px;

  margin-top: 4.5pc!important;
}

.gradient-cus-box-sty {
  /* background-image: linear-gradient(to right, #FFFFFF, #84AEEC); */
  background: rgb(255,255,255);
background: linear-gradient(20deg, rgba(255,255,255,1) 0%, rgba(132,174,236,1) 100%);
  text-fill-color: transparent;
  border-radius: 20px;
}

.sec-5 {
  position: relative;
  top: 120px;
  margin-top: -4pc;
}

.sec-6 {
  /* background: linear-gradient(180deg, #1A4077 0%, #122642 100%); */
  /* background: linear-gradient(180deg, #000E39 0%, #003699 100%); */

  background: rgb(0,14,57);
background: linear-gradient(180deg, rgba(0,14,57,1) 0%, rgba(0,54,153,1) 100%);

  padding-top: 120px;
}

.fs-cus-sty {
  font-size: 120px;
}


.project-container {
  padding: 0px 0px;
  width: 100%;
  margin: auto;
}


.fs-cus-sty-projects {
  font-size: 7rem;
}

.p-text-adjust-sty-project {
  position: absolute;
  /* top: 70%;
  left: 25%; */

  top: 75%;
    left: 13%;
    width: max-content;
}





.community-column-div{
  padding-left: 50px;
  padding-right: 0px;
}

.project-heading-div {
  margin-bottom: 35px;
}

.projects-para {
  font-size: 18px;
  margin-bottom: 0px;
}




.community-section-img{
  margin-top: 0.5pc;
  width: 100%;
  height: auto;

  z-index: 1000;
  position: relative;

  margin-left: 25px;
}


.community-btn-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}






.sec-4-reference{
  margin-bottom: 6pc;
  /* border: 3px solid greenyellow; */
}


.testimonial-container{
  width: 90%;
  margin: auto;
}


.fs-cus-sty-testimonial {
  font-size: 120px;
}


.p-text-adjust-sty {
  position: absolute;
  top: 70%;
  left: 10%;
}


.p-text-adjust-sty-testimonial-div {
  position: absolute;
  top: 70%;
  left: 13%;
}



.p-text-adjust-sty-testimonial {
  font-size: 34px;
}

.p-text-adjust-sty-testimonial strong {
  font-weight: 500;
}









@keyframes slides {
  0% {
      transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 7)); 
  }
}

.review-slider {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.review-slider:before{
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.review-slider:after {
  position: absolute;
  top: 0;
  content: '';
  width: 120px;
  height: 100%;
  z-index: 2;
}

.review-slider:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #000E39);
}

.review-slider:after {
  right: 0;
  background: linear-gradient(to right,  transparent, #00246F);
}


.review-slider .review-slide-track {
  animation: slides 25s linear infinite;
  display: flex;
  width: fit-content;
}

.review-slider .review-slide-track:hover{
  animation-play-state: paused;
}

.review-slider .review-slide {
width: 200px;
height: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0; 
}

.review-slider .review-slide img{
  width: 200px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;
}


.review-slide img:hover {
  opacity: 1;
}









@keyframes logoslider2 {
  0% {
    transform: translateX(calc(-200px * 7)); 
  }
  100% {
    transform: translateX(0);
}
}

.review-slider2 {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 3pc;
}


.review-slider2:before{
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.review-slider2:after {
  position: absolute;
  top: 0;
  content: '';
  width: 120px;
  height: 100%;
  z-index: 2;
}

.review-slider2:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #000E39);
}

.review-slider2:after {
  right: 0;
  background: linear-gradient(to right,  transparent, #00246F);
}


.review-slider2 .review-slide-track2 {
  animation: logoslider2 25s linear infinite;
  display: flex;
  width: fit-content;

  
}

.review-slider2 .review-slide-track2:hover{
  animation-play-state: paused;
}

.review-slider2 .review-slide2 {
width: 200px;
height: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0; 
}

.review-slider2 .review-slide2 img{
  width: 200px;
  height: 40px;
  opacity: 0.5;
}
.review-slide2 img:hover {
  opacity: 1;
}








@media screen and (max-width:468px) {
  .nav-brand {
    max-width: 75% !important;
  }

  .sec-2 {
    margin-top: 200px !important;
  }

  .rectangular-oval-white-prop-2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
  }

  .rectangular-oval-white-prop-2 img{
    height: 75vh;
  }

  .fs-cus-sty {
    font-size: 60px;
  }


  

  .fs-cus-sty-testimonial {
    font-size: 48px;
  }

  .p-text-adjust-sty-testimonial {
    font-size: 19px;
  }

  .container-cus {
    height: 280px !important;
  }

}

@media screen and (min-width:469px) and (max-width:772px) {
  .sec-2 {
    margin-top: 350px !important;
  }

  .rectangular-oval-white-prop-2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
  }

  .rectangular-oval-white-prop-2 img{
    height: 75vh;
  }

  .fs-cus-sty {
    font-size: 80px;
  }

  .servive-overlap-para {
    font-size: 20px;
  }

  .servive-overlap-para strong {
    font-size: 22px !important;
  }


  .fs-cus-sty-projects {
    font-size: 3rem !important;
  }

  .fs-cus-sty-testimonial {
    font-size: 60px;
  }

  .p-text-adjust-sty-testimonial {
    font-size: 22px;
  }
}

@media screen and (min-width:773px) and (max-width:1280px) {

  .fs-cus-sty {
    font-size: 100px;
  }

  .fs-cus-sty-projects {
    /* font-size: 100px; */
  }

  .fs-cus-sty-testimonial {
    font-size: 90px;
  }

  .sec-2 {
    margin-top: 350px !important;
  }
}


@media screen and (max-width:1366px) {
  .fs-cus-sty-projects {
    font-size: 6rem;
  }

}





.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 1;
  animation: fadeIn 0.5s ease;
  background-color: #1E4379;
  /* box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75); */
  box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  -webkit-box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  -moz-box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  /* Apply the fadeIn animation */
}


.back-to-top {
  position: fixed;
  /* display: none; */

  right: 30px;
  bottom: 30px;
  z-index: 99;
  box-shadow: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.back-to-top.show {
  opacity: 1;
  background-color: #87B0ED;
  border: none;
  /* padding: 15px; */
  border-radius: 24px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {}

.btn-lg-square:hover {
  background-color: #3A5A9D;
  color: white;
  border: none !important;
}



.header-login-btn {
  font-weight: 500;
  /* background: linear-gradient(to top right, #FFFFFF, #84AEEC); */
  background: #003699;
  color: white;
  transition: background 0.3s ease, opacity 0.9s ease;
  padding: 15px 45px;
  width: max-content;
}

.header-login-btn:hover {
  background: linear-gradient(to top right, #84AEEC, #FFFFFF);
  opacity: 1;
  transition: background 0.9s ease, opacity 0.9s ease;
}


.header-All-Digitaly-btn-div {
  margin-left: 15px;
}


.header-All-Digitaly-btn {
  background: #003699;
  color: white;
  /* transition: background 0.3s ease, opacity 0.9s ease; */
  padding: 16px 35px;
  width: max-content;
}

.header-All-Digitaly-btn:hover {
  /* background: linear-gradient(to top right, #84AEEC, #FFFFFF); */
  /* opacity: 1; */
  /* transition: background 0.9s ease, opacity 0.9s ease; */
  background: #003699;
  font-weight: 500;
  color: white;
}





.review-section {
  width: 90%;
  margin: auto;
}


.review-card1-col {
  width: 100%;
}

.review-card1 {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.review-card1-ratingrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.review-card1-ratingrow svg {
  color: #1E4379;
  padding-right: 3px;
}

.review-card1-para {
  font-weight: 500;
}

.review-card1-para span {
  font-weight: 700;
}


.review-card1-clientDetails {
  display: flex;
  flex-direction: row;
}

.review-card1-clientDetails img {
  width: 20% !important;
}

.review-card1-clientDetails-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 8px;
}


.review-card1-clientDetails-col h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.review-card1-clientDetails-col p {
  margin-bottom: 0px;
}




































.lagence-sec1 {
  height: 95vh;
}

.lagence-sec1-img1 {
  width: 70%;
}



.rectangular-oval-white-sec1 {
  position: absolute;
  z-index: -1;
  top: -30%;
  /* right: 0; */
  left: 0;
  /* border: 2px solid red; */
}

.lagence-sec1-img1-2 {
  width: 100%;
  height: auto;
  /* border: 3px solid red; */
}




.lagence-sec2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
}


.rectangular-oval-white1-lagence {
  position: absolute;
  z-index: -1;
  /* top: 0; */
  left: 0;
}


.lagence-sec1-img2 {
  width: 65%;
}



.lagence-sec3 {
  height: 110vh;
  display: flex;
  flex-direction: row;
}



.rectangular-oval-white2-lagence {
  position: absolute;
  z-index: -1;
  /* top: -10%; */
  right: 0;
  margin-top: -25pc;
}

.lagence-sec1-img3 {
  width: 100%;
  /* height: 160vh; */
}



.lagence-sec4 {
  height: 100vh;
  display: flex;
  flex-direction: row;
}


.lagence-sample-img {
  width: 80%;
  animation: levitate 1.3s infinite alternate;
  /* border: 3px solid #87B0ED; */
}





.project-sec-btn {
  color: white;
  background-color: #001233;
  height: 100%;
}

.project-sec-btn:hover {
  color: white;
  background-color: #3A5A9D;
}



.project-sec-btn2 {
  color: white;
  background-color: #001233;
  /* margin-top: 3.5pc;
    margin-right: -3pc; */

    margin-top: -5.5pc;
    margin-left: -11pc;

    font-size: 19px;
    font-weight: 600;
    position: absolute;
}

.project-sec-btn2:hover {
  color: white;
  background-color: #3A5A9D;
}

.project-sec-btn3 {
  color: white;
  background-color: #001233;
  position: absolute;
  /* left: 49pc;
  margin-top: -9.6pc; */

  margin-top: -17.9pc;
  margin-left: -6.5pc;

  font-size: 19px;
  font-weight: 600;

  
  z-index: 1100;
}

.project-sec-btn3:hover {
  color: white;
  background-color: #3A5A9D;
}

.project-sec-btn4 {
  color: white;
  background-color: #001233;
  position: absolute;
  right: 7pc;

  font-size: 19px;
  font-weight: 600;

  z-index: 1100;
}

.project-sec-btn4:hover {
  color: white;
  background-color: #3A5A9D;
}

.community-digitaly-heading{
  font-weight: 400;
}



































.contact-sec1 {
  padding-top: 5pc;
  padding-bottom: 4pc;
}

.contact-container {
  width: 90%;
  margin: auto;
}


.contact-row {
  height: max-content !important;
  /* margin-top: 0px !important; */
  padding-top: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0pc;

}



.contact-col1-heading {
  font-size: 1.9rem;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  /* width: max-content; */
  text-transform: uppercase;
}

.contact-col1-heading2 {
  font-weight: 600;
  color: white;

}

.contact-col1-para {
  /* width: max-content; */
  font-size: 14.5px;
  margin-top: 12px;
  color: white;
}

















@media (min-width: 2190px) and (max-width: 2290px) {
  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

 


  .lenterprise-sub-dropdown {
   
    width: 78.7%;
    height: max-content;
   
    left: 5%;
  }
}

@media (min-width: 2090px) and (max-width: 2190px) {
  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

  


  .lenterprise-sub-dropdown {
   
    width: 78.1%;
    height: max-content;
  
    left: 5%;
  }
}




@media (min-width: 1990px) and (max-width: 2090px) {
  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

 


  .lenterprise-sub-dropdown {
   
    width: 77.7%;
    height: max-content;
    left: 5%;
  }
}





@media (min-width: 1890px) and (max-width: 1990px) {


  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

  


  .lenterprise-sub-dropdown {
   
    width: 77%;
    height: max-content;
  
    left: 5%;
  }
}







@media (min-width: 1780px) and (max-width: 1890px) {


  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

  


  .lenterprise-sub-dropdown {
   
    width: 76.4%;
    height: max-content;
   
    left: 5%;
  }
}




@media (min-width: 1680px) and (max-width: 1780px) {

  .new-navbar {
    width: 90%!important;
  }

  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

 


  .lenterprise-sub-dropdown {
   
    width: 75.6%;
    height: max-content;
   

    left: 5%;
  }


  /* .project-sec-btn3 {
    margin-top: -20.3pc;
  } */

}

@media (min-width: 1900px) and (max-width: 2100px) {

  .project-sec-btn2 {
    margin-left: -9pc;
  }

  .project-sec-btn3 {
    margin-top: -23.7pc;
    margin-left: -1.5pc;
}

.project-sec-btn4 {
  right: 8pc;
  margin-top: 2pc;
}
}


@media (min-width: 1868px) and (max-width: 1900px) {

  .project-sec-btn2 {
    margin-left: -9pc;
  }

  .project-sec-btn3 {
    margin-top: -23.7pc;
    margin-left: -1.5pc;
}

.project-sec-btn4 {
  right: 8pc;
  margin-top: 2pc;
}
}

@media (min-width: 1802px) and (max-width: 1868px) {
  .project-sec-btn3 {
    margin-top: -22.5pc;
    margin-left: -2.5pc;
}
.project-sec-btn4 {
  right: 8pc;
  margin-top: 2pc;
}

.project-sec-btn2 {
  margin-left: -9.5pc;
}
}

@media (min-width: 1750px) and (max-width: 1802px) {

  .project-sec-btn2 {
    margin-left: -9.5pc;
  }

  .project-sec-btn3 {
    margin-top: -21.9pc;
    margin-left: -2.9pc;
}

.project-sec-btn4 {
  right: 7pc;
  margin-top: 2pc;
}
}


@media (min-width: 1705px) and (max-width: 1750px) {
  .project-sec-btn3 {
    margin-top: -21.5pc;
    margin-left: -3pc;
}

.project-sec-btn2 {
  margin-top: -5.5pc;
  margin-left: -9.5pc;
}
}

@media (min-width: 1680px) and (max-width: 1704px) {
  .project-sec-btn3 {
    margin-top: -21.3pc;
    margin-left: -3pc;
}

.project-sec-btn2 {
  margin-top: -5.5pc;
  margin-left: -9.5pc;
}
}




@media (min-width: 1596px) and (max-width: 1680px) {

  .new-navbar {
    width: 90%!important;
  }

  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 25px 10px 25px;

  }

 


  .lenterprise-sub-dropdown {
   
    width: 74.5%;
    height: max-content;
   

    left: 5%;
  }


  .project-sec-btn2 {
    margin-top: -5.5pc;
    margin-left: -10pc;
  }

  .project-sec-btn3 {
    margin-top: -20pc;
    margin-left: -3.7pc;
}

}


@media (min-width: 1481px) and (max-width: 1596px) {

  .new-navbar {
    width: 90%;
    /* border: 2px solid red; */
  }

  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 20px 10px 25px;

  }

  .lenterprise-sub-dropdown {
   
    width: 73.5%;
    height: max-content;
   

    left: 5%;
  }


  .fs-cus-sty-projects {
    font-size: 6rem;
    }

  .p-text-adjust-sty-project h2{
    font-size: 30px;
   }


   .project-sec-btn3 {
    margin-top: -19.5pc;
    /* z-index: 11; */
    margin-left: -4pc;
}
  
  .project-sec-btn2 {
    margin-top: -5.5pc;
    margin-left: -10pc;
  }

  
  
  .project-sec-btn4 {
    right: 6pc;
    z-index: 1100;
    margin-top: 0pc;
}


}



@media (min-width: 1381px) and (max-width: 1480px) {

  .new-navbar {
    width: 90%;
    /* border: 2px solid red; */
  }

  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 35px;
  }

  .header-login-btn {
    padding: 15px 45px;
  }

  .new-navbar-div {
    padding: 10px 20px 10px 25px;

  }

  .lenterprise-sub-dropdown {
   
    width: 72.5%;
    height: max-content;
   

    left: 5%;
  }




  

  .contact-form-col1{
   display: none;
  }
  
  .contact-form-col2{
    margin: auto;
    width: 60%!important;
  
  }

  .fs-cus-sty-projects {
    font-size: 5.9rem;
    }

  .p-text-adjust-sty-project h2{
    font-size: 28px;
   }

 .custom-br{
  display: none;
}

.project-sec-btn3 {
  margin-top: -25.5pc;
  margin-left: -1pc;
}

.project-sec-btn2 {
  margin-top: -5.5pc;
  margin-left: -12pc;
}

.project-sec-btn4 {
  right: 2pc;
  margin-top: 1pc;
}

}


@media (min-width: 1321px) and (max-width: 1380px) {

  .new-navbar {
    width: 90%;
  }

  .digitaly-logo {
    width: 70%!important;
    height: auto;
  }


  .header-All-Digitaly-btn {
    padding: 16px 32px;
  }

  .header-login-btn {
    padding: 15px 42px;
  }

  .new-navbar-div {
    padding: 10px 15px 10px 25px;

  }

  .lenterprise-sub-dropdown {
   
    width: 71.3%;
    height: max-content;
   

    left: 5%;
    /* transform: translateX(-50%) !important; */
  }


  .contact-form-col1{
    display: none;
   }
   
   .contact-form-col2{
     margin: auto;
     width: 60%!important;
   
   }



   .fs-cus-sty-projects {
    font-size: 5.8rem;
    }


   .p-text-adjust-sty-project h2{
    font-size: 28px;
   }

 .custom-br{
  display: none;
}

.project-sec-btn3 {
  margin-top: -25.5pc;
  margin-left: -1pc;
}

.project-sec-btn2 {
  margin-top: -5.5pc;
  margin-left: -12pc;
}

.project-sec-btn4 {
  right: 2pc;
  margin-top: 1pc;
}

}

@media (min-width: 1281px) and (max-width: 1320px) {

  
  .new-navbar {
    width: 88%;
  }

  .digitaly-logo {
    width: 96%!important;
    height: auto;
  }

  .header-All-Digitaly-btn {
    padding: 16px 30px;
  }

  .header-login-btn {
    padding: 15px 40px;
  }

  .new-navbar-div {
    padding: 10px 10px 10px 25px;

  }


  

  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 14px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
   
    width: 69%;
    height: max-content;
  
    left: 6%;
    /* transform: translateX(-50%) !important; */
  }


  .contact-form-col1{
    display: none;
   }
   
   .contact-form-col2{
     margin: auto;
     width: 60%!important;
   
   }



   

   .fs-cus-sty-projects {
    font-size: 5.5rem;
    }

    .p-text-adjust-sty-project h2{
      font-size: 26px;
     }

   .custom-br{
    display: none;
  }

  .project-sec-btn3 {
    margin-top: -20pc;
    margin-left: -7pc;
  }

  .project-sec-btn2 {
    margin-top: -5.5pc;
    margin-left: -12pc;
  }

  .project-sec-btn4 {
    right: 3pc;
    margin-top: -2pc;
  }

}


@media (min-width: 1190px) and (max-width: 1280px) {

  .digitaly-logo {
    width: 100%!important;
    height: auto;
  }

  .new-navbar {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    z-index: 100;
  }

  .header-All-Digitaly-btn {
    padding: 16px 25px;
  }

  .header-login-btn {
    padding: 15px 40px;
  }

  .new-navbar-div {
    background-color: #003699;
    border-radius: 8px;
    padding: 10px 10px 10px 25px;

  }




  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 13.7px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
    width: 71%;
    height: max-content;
    left: 5%;
    /* transform: translateX(-50%) !important; */
  }

  .contact-form-col1{
    display: none;
   }
   
   .contact-form-col2{
     margin: auto;
     width: 60%!important;
   
   }



   .p-text-adjust-sty-project h2{
    font-size: 26px;
   }

   .fs-cus-sty-projects {
    font-size: 5.5rem;
    }

   .custom-br{
    display: none;
  }

  .project-sec-btn2 {
    margin-top: -5.5pc;
    margin-left: -12pc;
  }

  .project-sec-btn3 {
    margin-top: -20pc;
    margin-left: -5.5pc;
  }

  .project-sec-btn4 {
    right: 3pc;
    margin-top: -3pc;
  }




}


/* @media (min-width: 1110px) and (max-width: 1189px) {
  .contact-form-col2 {
    width: 45%;
  }

  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 13.7px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
   
    width: 90%;
    height: max-content;
  
    left: 52%;
    transform: translateX(-50%) !important;
  }

} */



/* @media (min-width: 1010px) and (max-width: 1109px) {
  .contact-form-col2 {
    width: 45%;
  }

  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 13.7px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
    width: 90%;
    height: max-content;
   

    left: 52%;
    transform: translateX(-50%) !important;
  }

} */




.contact-us-row-formField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contact-form-input-label {
  color: white;
  float: left;
  margin-bottom: 5px;
}

.contact-form-input-label span {
  color: rgba(140, 179, 237, 1);
}




.contact-input {
  color: gray !important;
  border: none !important;
  background: ;
  padding: 12px 14px 12px 10px !important;
  font-size: 15px;
  /* border-radius: 10px !important; */

}

.contact-input:hover {
  border: none !important;
}









.contact-phoneNumberInput input {
  color: gray !important;
  border: none !important;
  background: ;
  padding: 9px 10px 9px 10px !important;

  /* border-radius: 10px; */

  /* 
  border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px; */

}

.contact-phoneNumberInput-div {
  display: flex;
  flex-direction: column;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  border-bottom-left-radius: 0.375rem !important;
  border-top-left-radius: 0.375rem !important;
  border-radius: 0;
  height: 100%;
  /* padding-left: 5px;
  padding-right: 5px; */

  padding: 8px 5px 8px 5px !important;
  border: none !important;
}


.react-international-phone-input-container .react-international-phone-input {
  font-size: 15px !important;
  color: gray !important;
  border: none !important;
  width: 100%;
  padding: 9px 10px 9px 10px !important;
  height: max-content !important;
  border-bottom-right-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  border-radius: 0;
  border-left: 3px solid gray !important;
}







.css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 5px !important;
}








.css-1xp5r68-MuiFormControl-root-MuiTextField-root {
  background: white !important;
  width: 100% !important;
  border-radius: 0.375rem !important;
}

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root {
  background: white !important;
  width: 100% !important;
  border-radius: 0.375rem !important;
}




.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  top: -3.5px !important;
  color: gray !important;
  font-size: 16px !important;
}


.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root {
  /* border-radius: 10px !important; */
  border-radius: 0.375rem !important;
  /* border: 1px solid white; */
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}


.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: none !important;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-size: 18px !important;
  color: #748BAD !important;

}

.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #748BAD !important;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:focus {
  /* border: 4px solid  palevioletred!important; */
}

.MuiPhoneNumber-positionStart {
  /* border: 2px solid red; */
}




.css-aixiz9-MuiButtonBase-root-MuiIconButton-root {
  /* background-color: red!important; */
  border-radius: 0% !important;
  padding-left: 8px !important;
}

.MuiPhoneNumber-flagButton {
  height: 30px;
  padding: 0;
  min-width: 50px !important;
  padding-left: 15px !important;
}

.phoneNumber-arrow {
  position: absolute;
  left: 2.8pc;
  top: 2.5pc;
  transform: translateY(-50%);
  color: grey;
  pointer-events: none;
  font-size: 16px;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  /* border-bottom: none!important; */
}

.css-5h82ro-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: none !important;

}

.css-5h82ro-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}





textarea {
  /* background: white!important; */
}



.contact-us-input-left {
  padding-right: 10px !important;

}

.contact-us-input-right {
  padding-left: 10px !important;

}



.contact-us-input-objet {
  margin-bottom: 25px;

}



/* .contact-input textarea{
  color: rgba(204, 204, 204, 1)!important;
  border: 2px solid white!important;
  background: ;
  padding: 7px 10px 15px 10px!important;
  height: 92px!important;
  border-radius: 10px!important;

} */

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #748BAD !important;
}

.contact-us-message {
  /* border: 2px solid red; */
  margin-bottom: 15px;
}


.contact-us-checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.contact-us-checkbox button {
  margin-right: 8px;
  width: 20px !important;
  height: 20px !important;
}


.contact-us-checkbox p {
  color: white;
  font-size: 14px;
  margin-bottom: 0px;
}


.css-1umw9bq-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em !important;
  height: 1em !important;
  fill: white !important;
}

.css-r3djoj-MuiTouchRipple-root {

  left: -10px !important;

}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: white !important;
}

.contact-us-submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 20px;
}

.contact-us-submitBtn button {
  background-color: rgba(0, 54, 153, 1) !important;
  border: none !important;
  border-radius: 12px !important;
  padding: 10px 25px 10px 25px !important;
  color: white !important;
  transition: 0.3s !important;
}

.contact-us-submitBtn button:hover {
  background-color: #3A5A9D !important;
}











.temporary-down-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}


.temporary-down-section h1 {
  margin-bottom: 30px;
}



.temporary-down-section p {
  text-align: center;
}


.temporary-down-section-para span {
  font-weight: bold;
}



.temporary-down-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.temporary-down-btns a {
  background-color: #003699;
  color: white;
  text-decoration: none;
  align-self: center;
  margin-bottom: 0px;
  padding: 12px 30px;
  border-radius: 4px;
}

.temporary-down-btns p {
  margin-bottom: 0px;
}

.temporary-down-last-div {
  margin-top: 10px;
  margin-bottom: 0px;
}




































.footer-contact-div {
  width: 90%;
  margin: auto;
}

.footer-contact-div-para {
  font-size: 16px;
  font-weight: 600;
}


.footer-contact-div-contactBtn {
  width: max-content;
  background-color: #000E39;
}

.footer-contact-div-contactBtn:hover {
  background-color: #6F9FDD;
}


.footer-container {
  width: 90%;
  /* border: 3px solid red; */
  margin: auto;
}

.footer-links-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}


.footer-sec-icons {
  display: flex;
  flex-direction: row;
}

.footer-sec-icons svg {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

.footer-sec-icons svg:hover {
  color: white;
}

.footer-sec-icons-mobile {
  display: none;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.781);
  font-weight: 400;
}

.footer-links a:hover {
  color: #A0B9E6;
}


.footer-links-2 {
  width: 25%;
}

.footer-links-3 {
  width: 16%;
}

.footer-links-4 {
  width: 16.2%;
}


.footer-links-5,
.footer-links-6 {
  width: 15%;
}







.service-heading {}

.servive-overlap-para strong {
  font-size: 34px;
  font-weight: 500;
}


.ceo-sec-para {
  margin-bottom: 50px;
  font-size: 20px;
}

.services-container{
  width: 90%;
  margin: auto;
}


.service-tester{
  /* overflow: hidden;
  display: flex;
  white-space: nowrap;
  position: relative; */

}

.service-slider{
  /* animation: scroll 1s linear infinite;  */
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.service-card-img{
  width: 50%;
  height: auto;
}























@media screen and (max-width:768px) {


  .navbar {
    display: none;
  }



  .main-subheader p {
    font-size: 12px;
  }



  .main-subheader {
    padding: 10px 10px;
  }


  .language-change-dropdown-column {
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px 7px;
  }

  .language-change-dropdown-icon {
    width: 38%;
  }

  .language-change-dropdown p {
    font-size: 15px;
  }

  .language-change-dropdown-2 {
    top: 7.7pc;
    padding: 3px;
    border-radius: 11px;
    
    /* right: 3.4pc; */
  }

  .language-change-dropdown-2 img {
    width: 33%;
  }

  .language-change-dropdown-2 p {
    font-size: 15px;
  }

  .open-menu-icon {
    padding: 0px 10px;
  }

  .header-login-btn-div {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
  }


  .header-login-btn {
    padding: 16px 35px;
  }




  .section1-container{
    width: 100%;
  }

  .sec-1 .row{
    margin-left: 0px;
    margin-right: 0px;
  }





  .fs-cus-sty-projects {
    font-size: 2.8rem !important;
  }

  .project-heading-div{
    padding-left: 10px;
  }

  .p-text-adjust-sty-project h2{
    font-size: 23px;
    /* width: 90%; */
  }



















  .sec-1 .lagence-row {
    height: max-content !important;
    /* margin-top: 0px !important; */
    padding-top: 0px !important;

  }

  .sec-2 {
    width: 93%;
  }

  .lagence-sec1 {
    height: max-content;
  }

  .lagence-sec1-img1 {
    width: 100%;
  }


  .lagence-sec2 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }

  .ceo-sec-para {
    margin-top: 30px;
  }

  .overlap-img {
    margin-top: -30px;
  }

  .services-container {
    width: 93%;
    margin: auto;
  }

  .service-mobile-cards-row{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin: auto;
  }


  .rectangular-oval-white-prop {
    display: none;
  }

  .rectangular-oval-white-sec1 {
    position: absolute;
    z-index: -1;
    top: 30%;
    right: 0;
  }

  .lagence-sec1-img1-2 {
    width: 100%;
    height: 110vh;
  }


  .lagence-sec1-img2 {
    width: 100%;
  }

  .rectangular-oval-white2-lagence {
    margin-top: -6pc;
  }

  .lagence-sec1-img3 {
    width: 100%;
    height: 75vh;

  }


  .lagence-sec3 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }

  .lagence-sec4 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }


  .gradient-cus-box-sty {
    padding: 20px !important;
  }


  .sec-5 {
    position: relative;
    top: 80px;
    margin-top: 0pc;
  }

  .sec-6 {
    padding-top: 60px;
  }


  .rectangular-oval-white-prop-3 {
    top: -14%;
  }
  
  .rectangular-oval-white-prop-4 {
    position: absolute;
    z-index: -1;
    top: -100%;
    right: -7pc;
  }


  .footer-sec {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .footer-copyright-para {
    font-size: 15px;
    text-align: center;
  }


  .review-card1-clientDetails-col h4 {
    font-size: 15px;
  }


  .servive-overlap-para strong {
    font-size: 30px;
    font-weight: 500;
  }


  .text-overlay-services {
    margin-bottom: 65px !important;
  }



  .p-text-adjust-sty-project {
    left: 11%;
    width: 90%;

  }

  .projects-para {
    font-size: 16.5px;
   margin-top: 4pc;
   text-align: left;
   padding-left: 12px;
    padding-right: 12px;
  }

  .community-btn-row {
    padding-left: 12px;
  }

  .community-section-img {
    margin-left: 0px;
  }

  .community-section{
    margin-top: 7pc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-sec-btn2 {
    margin-top: -3.5pc;
    margin-left: 0pc;

  }

  .project-sec-btn3 {
    margin-top: -7pc;
    margin-left: 0pc;
  }

  .project-sec-btn4 {
    right: initial;
    margin-top: 12pc;
    z-index: 1018;
  }


  .sec-4-reference {
    margin-bottom: 3pc;
  }

  .testimonial-container{
    width: 93%;
    margin: auto;
  }


  .p-text-adjust-sty-testimonial-div {
    left: 7%;
  }


  .review-slider{
    margin-top: 20px;
  }

  .review-slider::before {
    width: 50px;
  }

  .review-slider::after {
    width: 50px;
  }


  .review-slider2::before {
    width: 50px;
  }

  .review-slider2::after {
    width: 50px;
  }





















  .footer-div-heading {
    font-size: 30px;
  }

  .footer-links-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap !important;
    align-items: center;
  }

  .footer-links-2,
  .footer-links-3,
  .footer-links-4,
  .footer-links-5,
  .footer-links-6 {
    width: 90%;
  }

  .footer-sec-icons {
    display: none;
    flex-direction: row;
  }

  .footer-sec-icons-mobile {
    display: flex !important;
    margin-top: 20px;
  }







  .contact-sec1 {
    padding-top: 3pc;
    padding-bottom: 2pc;
  }

  .contact-container {
    width: 100%;
    margin: auto;
  }

  .contact-row {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin: auto;
  }

  
  .contact-form-col1{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
   }

   .contact-form-col2{
    padding-left: 10px;
    padding-right: 10px;
   }

  .contact-col1-para {
    width: 100%;
    font-size: 14px;
  }

  .contact-col1-heading {
    width: 100%;
    font-size: 23px;
  }


  .contact-form-col2 {
    margin-top: 2pc;
  }

  .contact-us-row-formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

  }

  .contact-us-input-right {
    padding-left: 0px !important;
    padding-bottom: 15px;
  }

  .contact-us-input-left {
    padding-right: 0px !important;
    padding-bottom: 15px;
  }

  .contact-us-checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }


  .contact-phoneNumberInput-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }




  .icon {
    width: 40px;
    height: 40px;
    pointer-events: none; /* Prevent pointer events on icons */
  }




  .sec-4-projects {
    padding-bottom: 0px !important;
    padding-top: 35px;
    width: 93%;

  }

  .community-column-div {
    padding-left: 0px;
    padding-right: 0px;
  }


  .custom-br{
    display: none;
  }
  .project-container {
    padding: 0px 0px;
    width: inherit;
  }





}

@media screen and (min-width: 1200px) and (max-width: 1420px) {
  .review-card1-clientDetails-col h4 {
    font-size: 16px !important;
  }
}












/* 3d work */

.testing-3d{
  /* position: relative!important; */
}

.scene {
  inset: 0;
  position: fixed;
  z-index: -10;



  width: 100%; /* Full viewport width */
  height: 100vh; /* Full viewport height */

  /* border: 3px solid green!important; */

  
}

/* .canvas {
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;
  right: 0px;
  z-index: 5 !important;
} */

/* .section {
  position: "absolute" !important;
  z-index: 1 !important;
} */

.mystyle {
  position: absolute;
  top: 500px !important;
  height: 100vh !important;
  width: 100vw !important;
  right: 0px;
  z-index: 5 !important;
}


.iconStyle{
  z-index: -1;
position: relative;
top: -13rem;
left: 5rem;
width: 40%;
}


.icons-container img {
  transition: transform 0.5s ease-in-out;
}



.icon {
  width: 60px;
  height: 60px;
  pointer-events: none; /* Prevent pointer events on icons */
}







canvas {
  /* touch-action: none; */
  touch-action: pan-y!important; 
}

.testing{
  touch-action: pan-y!important; 
}

.animated-icons-container {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevent blocking interactions with the 3D scene */
}












/* Support css */



.support-container{
  width: 90%;
}


.Support-Help-row{
  background: rgb(22,104,255);
  background: linear-gradient(90deg, rgba(22,104,255,1) 50%, rgba(12,79,202,1) 100%);  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-top: 1.5pc;
  margin-bottom: 5pc;
}

.Support-Help-row svg{
  color: white;
  font-size: 32px;
  background-color: #0C4FCA;
  padding: 16px 14px 16px 14px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Support-Help-row p{
  align-self: center;
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
}



.support-input-error-text{
  color: red;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.support-column2-bg{
 
  background-color: #0D1F4B; 
  /* border: 3px solid red; */
  border-radius: 14px;
  
}

.support-column2{
  

  display: flex;
  flex-direction: column;
}

.support-links{
  position: relative; 
  /* border-bottom: 2px solid #003699; */
  padding: 16px 16px 18px 22px;
  transition: 0.3s;

  margin-bottom: 8px;
  text-decoration: none;
}

.support-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #003699; /* Border color */

  z-index: 2; /* Ensures it overlays the first border */
  transition: 0.3s ease-in-out;
}

.support-links:hover::after {
  background-color: #003699; /* Second border color on hover */
  width: 30%;
  height: 4px;
}

.support-links h3{
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.support-links-span{
  font-weight: 300!important;
  text-decoration: none;
}

.support-links p{
  color: white;
  font-size: 14px;
  margin-bottom: 0px;
  text-decoration: none;

  
}

.support-links:hover{
  background-color: #000E39;
  border-radius: 11px;
  transition: 0.3s;
}




.support-assistance-bg {
  background: #EBF3FF;
  text-fill-color: transparent;
  border-radius: 20px;
  padding: 15px 55px 15px 55px;
  margin-top: 3pc;
  margin-bottom: 6pc;
}


.support-assistance-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-assistance-column-para1{
  color: #000E39;
  font-size: 20px;
    font-weight: 500;
    letter-spacing: 3.5px;
}

.support-assistance-column-para2{
  color: #84AEEC;
  font-size: 14.5px;
    font-weight: 500;
    text-align: center;
}



.support-enable-input {
  color: gray !important;
  border: 2px solid #000E39!important;
  padding: 12px 14px 12px 10px !important;
  font-size: 15px;

  outline: none !important; /* Disable browser outline */
  box-shadow: none !important; /* Disable any shadow */

  border-radius: 10px;
  
}

.support-enable-input:focus {
  border: 2px solid #000E39 !important; /* Retain border styling */
  outline: none !important; /* Disable browser outline */
  box-shadow: none !important; /* Disable shadow */
  
}


.support-enableBtn-row{
  margin-top: 20px;
}




.support-EnableBtn{
  background-color: rgba(0, 54, 153, 1) !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 20px 20px 20px 20px !important;
  color: white !important;
  transition: 0.3s !important;
  width: 25%;

}

.support-EnableBt:hover {
  background-color: #3A5A9D !important;
}



.support-enableBtn-row p{
  margin-bottom: 0px;
  font-size: 13.5px;
  line-height: 1.3;
  color: #000E39;
}



.support-Enable-div-Btns {
  width: max-content;
  color: #000E39;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #000E39;
  padding: 8px 10px 8px 10px;
  width: 65%;
  text-align: center;
  transition: 0.3s;
}

.support-Enable-div-Btns:hover {
  background-color: #6F9FDD;
  color: white;
}

