iframe#webpack-dev-server-client-overlay {
  display: none !important
}

html {

  scroll-behavior: smooth !important;
}

body {
  /* background-color: #102441; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  /* scroll-behavior: smooth!important; */

  background: rgba(0, 18, 51, 1);
  width: 100%;
  place-items: start;

}

#root{
  width: 100%;
}

/* Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #87B0ED;
  border-radius: 10px;
  border: none;
}

/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #87B0ED transparent;

  }

  *::-moz-scrollbar-thumb {
    border-radius: 10px;
    /* Add border-radius here */
  }
}









.main-subheader {
  background-color: #003699;
  text-align: center;
  padding: 8px 0px;
}

.main-subheader p {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
  color: white;
}







.new-navbar {
  width: 86%;
  margin: auto;
  margin-top: 10px;
  z-index: 100;
}



.new-navbar-div {
  background-color: #003699;
  border-radius: 8px;
  padding: 10px 25px;
}





.digitaly-logo {
  width: 70%;
  height: auto;
}



.new-navbar-collapse {
  flex-grow: 0 !important;
}


.nav-link {
  font-weight: 500;
}


.links-border {
  opacity: 0;
  /* Initially hidden */
  position: absolute;
  width: 0%;
  background-color: white;
  height: 3px;
  border-radius: 12px;
  top: 3pc;
  left: 0;
  /* Align with the nav-link */
  transform: translateX(15%);
  transition: width 0.3s ease-in-out;
  /* Smooth width animation */
}

.nav-item:hover .links-border {
  opacity: 1;
  /* Initially hidden */
  width: 76%;
}

/* Prevent parent height from being influenced */
.nav-item {
  position: relative;
}






.language-change-dropdown-column {
  display: flex;
  flex-direction: column;

  margin-left: 15px;
  margin-right: 15px;

  background-color: #003699;
  padding: 16px 9px;
  border-radius: 8px;
  /* width: 75px; */
  cursor: pointer;
}


.language-change-dropdown {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  width: 50px;
  margin-right: 0px;
  z-index: 1000;

  /* position: relative; */

}

.language-change-dropdown-icon {
  color: white;
  /* font-size: 19px; */
  width: 40%;
  height: auto;
  /* vertical-align: middle; */
}

.language-change-dropdown p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 6px;
  margin-bottom: 0px;
}



.language-change-dropdown-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* border: 2px solid red; */
  /* top: 4.5pc; */
  background-color: #003699;
  padding: 8px;
  border-radius: 11px;
  /* right: 9.7pc; */
  text-align: center;

  z-index: 100;


  /* top: 100%;
  left: 50%; 
  transform: translateX(-50%); */

  top: 4.7pc;
  /* left: 50%;  */
  transform: translateX(-25%)!important;
}


.language-change-dropdown-2 p {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
  padding: 8px 10px;
  transition: 0.3s;
}

.language-change-dropdown-2 img {
  width: 35%;
  height: auto;
  vertical-align: middle;
  margin-right: 6px;

}

.language-change-dropdown-2 p:hover {
  background-color: #001233;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}




/* .lenterprise-sub-dropdown {
  display: flex;
  background: rgba(0, 54, 153, 1);
  width: 85%;
  height: max-content;
  border: 2px solid red;
  position: absolute;
  border-radius: 12px;
  z-index: 200;
} */

.lenterprise-sub-dropdown-row {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
}

.lenterprise-sub-dropdown-column {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.lenterprise-sub-dropdown-column2 {
  display: flex;
  flex-direction: column;
  align-self: baseline !important;
  margin-top: 10px;
}



.lenterprise-sub-dropdown-column ul,
.lenterprise-sub-dropdown-column2 ul {
  line-height: 2;
}

.lenterprise-sub-dropdown-column ul li,
.lenterprise-sub-dropdown-column2 ul li {
  list-style: none;
}

.lenterprise-sub-dropdown-column ul li a,
.lenterprise-sub-dropdown-column2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}



.lenterprise-sub-dropdown-column ul li a:before,
.lenterprise-sub-dropdown-column2 ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.5px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
  border-radius: 10px;
}

.lenterprise-sub-dropdown-column ul li a:hover:before,
.lenterprise-sub-dropdown-column2 ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}



.dropdown-image {
  width: 290px;
  height: 215px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  /* Fade effect when image changes */
  border-radius: 12px;
}

.dropdown-image.fade-out {
  opacity: 0;
}

/* Show dropdown when hovering over the parent nav-item */
.nav-item:hover .lenterprise-sub-dropdown {
  display: block !important;
}



/* Optional: Add some transition to make the dropdown appear smoothly */
.lenterprise-sub-dropdown {
  /* opacity: 0;
  transition: opacity 0.3s ease; */
}

.nav-item:hover .lenterprise-sub-dropdown {
  opacity: 1;
}








.DigitalyAll-sub-dropdown-row {
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
}

.DigitalyAll-sub-dropdown-column1,
.DigitalyAll-sub-dropdown-column2 {
  display: flex;
  flex-direction: column;
  /* align-self: center; */
}


.DigitalyAll-sub-dropdown-column1 ul,
.DigitalyAll-sub-dropdown-column2 ul {
  line-height: 1.9;
  padding-left: 0px;
}

.DigitalyAll-sub-dropdown-column1 ul li,
.DigitalyAll-sub-dropdown-column2 ul li {
  list-style: none;
}

.DigitalyAll-sub-dropdown-column1 h4,
.DigitalyAll-sub-dropdown-column2 h4{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.DigitalyAll-sub-dropdown-column1 ul li a,
.DigitalyAll-sub-dropdown-column2 ul li a {
  color: white;
  text-decoration: none;
  font-size: 15.5px;
  font-weight: 500;
  position: relative;
}




.DigitalyAll-sub-dropdown-column1 ul li a:before,
.DigitalyAll-sub-dropdown-column2 ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.5px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
  border-radius: 10px;
}

.DigitalyAll-sub-dropdown-column1 ul li a:hover:before,
.DigitalyAll-sub-dropdown-column2 ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
























.rectangular-oval-white-prop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  opacity: 1;

  /* background: url('../../../public/images/Rectangle\ 9521.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; */

  /* border: 2px solid red; */
  /* display: none; */
}

.rectangular-oval-white-prop-2 {
  position: absolute;
  z-index: -1;
  top: -30%;
  right: 0;
}

.rectangular-oval-white-prop-3 {
  position: absolute;
  z-index: -1;
  top: -80%;
  left: 0;
}

.phone-img {
  width: 100% !important;
  height: 90vh !important;
  animation: levitate 1.3s infinite alternate;
  /* border: 3px solid red; */
}


.spline-watermark {
  display: none !important;
}

.spline-watermark span {
  display: none !important;
  width: 20px;
  height: 20px;
  background-image: url(https://app.spline.design/_assets/_icons/icon_favicon32x32.png);
  background-size: cover;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* slider */


.container-cus {
  width: 100%;
  height: 440px !important;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
}

.container-cus input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-cus label {
  display: block;
  width: 32%;
  height: 3px;
  border: 4px solid white;
  border-radius: 24px;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  transition: border-color 0.3s linear;
  z-index: 2;
  /* Ensure buttons are above images */
}

.container-cus label.second {
  left: 34%;
}

.container-cus label.third {
  left: 68%;
}

.slide {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: opacity 1s ease;

}

#first:checked~label.first {
  border-width: 6px;
  border-color: #84AEEC;
}

#second:checked~label.second {
  border-width: 6px;
  border-color: #84AEEC;
}

#third:checked~label.third {
  border: 6px solid #84AEEC;
}

#first:checked~div.one {
  left: 0;
  opacity: 1;
}

#second:checked~div.two {
  left: 0;
  opacity: 1;
}

#third:checked~div.three {
  left: 0;
  opacity: 1;
}


/* slider end */



.sec-1 .row {
  height: 80vh;
  /* border: 3px solid palevioletred; */
  background-attachment: fixed;
}



@keyframes color {
  0% {
    background-position: 0% 50%;
  }

  20% {
    background-position: 20% 50%;
  }

  40% {
    background-position: 40% 50%;
  }

  60% {
    background-position: 60% 50%;
  }

  80% {
    background-position: 80% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.gradient-text-sec-1 {
  /* background: linear-gradient(to right, #003699,  #8DB9FB); */

  /* background: linear-gradient(89.97deg, #003699 17.13%, #8DB9FB 91.68%); */



  /* color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300%;
  animation: color 4s linear infinite; */


  background: linear-gradient(to right, #003699, #8DB9FB, #003699);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
}

.sec-2 {
  margin-top: 155px;
  /* background-color: #1E4379; */
  background: linear-gradient(90deg, #1E4379 0%, #2E5DA2 51.5%, #1E4379 100%);
  /* background-image: url('../images/blue-bg.png'); */

}

.overlap-img {
  margin-top: -50px;
}

.gradient-box-cus {
  border-radius: 20px;
  background: linear-gradient(to top right, #FFFFFF, #84AEEC);
  position: relative;
}

.gradient-box-cus::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  /* background: linear-gradient(to right, #84AEEC, #FFFFFF); */
  background: linear-gradient(to top right, #84AEEC, #FFFFFF);
  transition: opacity .9s ease;

}

.gradient-box-cus:hover::before {
  opacity: 1;
}

.gradient-box-cus>* {
  position: relative;
}

.sec-4-projects {
  margin-top: 100px;
  /* background-color: #1E4379; */
  background: linear-gradient(90deg, #1E4379 0%, #2E5DA2 51.5%, #1E4379 100%);
  padding-bottom: 100px !important;
}

.gradient-cus-box-sty {
  background-image: linear-gradient(to right, #FFFFFF, #84AEEC);
  text-fill-color: transparent;
  border-radius: 20px;
}

.sec-5 {
  position: relative;
  top: 120px;
  margin-top: -4pc;
}

.sec-6 {
  /* background: linear-gradient(180deg, #1A4077 0%, #122642 100%); */
  background: linear-gradient(180deg, #001233 0%, #003699 100%);

  padding-top: 120px;
}

.fs-cus-sty {
  font-size: 120px;
}


.project-container {
  padding: 0px 15px;
}


.fs-cus-sty-projects {
  font-size: 7rem;
}

.p-text-adjust-sty-project {
  position: absolute;
  top: 70%;
  left: 25%;
}

.project-heading-div {
  margin-bottom: 35px;
}

.projects-para {
  font-size: 18px;
  margin-bottom: 0px;
}




.fs-cus-sty-testimonial {
  font-size: 120px;
}


.p-text-adjust-sty {
  position: absolute;
  top: 70%;
  left: 10%;
}


.p-text-adjust-sty-testimonial-div {
  position: absolute;
  top: 70%;
  left: 13%;
}



.p-text-adjust-sty-testimonial {
  font-size: 34px;
}

.p-text-adjust-sty-testimonial strong {
  font-weight: 500;
}




@media screen and (max-width:468px) {
  .nav-brand {
    max-width: 75% !important;
  }

  .sec-2 {
    margin-top: 200px !important;
  }

  .rectangular-oval-white-prop-2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
  }

  .fs-cus-sty {
    font-size: 60px;
  }

  .fs-cus-sty-projects {
    font-size: 3.7rem !important;
  }

  .fs-cus-sty-testimonial {
    font-size: 48px;
  }

  .p-text-adjust-sty-testimonial {
    font-size: 19px;
  }

  .container-cus {
    height: 280px !important;
  }

}

@media screen and (min-width:469px) and (max-width:772px) {
  .sec-2 {
    margin-top: 350px !important;
  }

  .rectangular-oval-white-prop-2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
  }

  .fs-cus-sty {
    font-size: 80px;
  }

  .servive-overlap-para {
    font-size: 20px;
  }

  .servive-overlap-para strong {
    font-size: 22px !important;
  }


  .fs-cus-sty-projects {
    font-size: 80px !important;
  }

  .fs-cus-sty-testimonial {
    font-size: 60px;
  }

  .p-text-adjust-sty-testimonial {
    font-size: 22px;
  }
}

@media screen and (min-width:773px) and (max-width:1280px) {

  .fs-cus-sty {
    font-size: 100px;
  }

  .fs-cus-sty-projects {
    /* font-size: 100px; */
  }

  .fs-cus-sty-testimonial {
    font-size: 90px;
  }

  .sec-2 {
    margin-top: 350px !important;
  }
}


@media screen and (max-width:1366px) {
  .fs-cus-sty-projects {
    font-size: 6rem;
  }

}





.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 1;
  animation: fadeIn 0.5s ease;
  background-color: #1E4379;
  /* box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 6px 25px -10px rgba(255, 255, 255, 0.75); */
  box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  -webkit-box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  -moz-box-shadow: 0px 6px 27px -10px rgba(174, 202, 243, 0.75);
  /* Apply the fadeIn animation */
}


.back-to-top {
  position: fixed;
  /* display: none; */

  right: 30px;
  bottom: 30px;
  z-index: 99;
  box-shadow: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.back-to-top.show {
  opacity: 1;
  background-color: #87B0ED;
  border: none;
  /* padding: 15px; */
  border-radius: 24px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {}

.btn-lg-square:hover {
  background-color: #3A5A9D;
  color: white;
  border: none !important;
}



.header-contact-btn {
  font-weight: 500;
  /* background: linear-gradient(to top right, #FFFFFF, #84AEEC); */
  background: #003699;
  color: white;
  transition: background 0.3s ease, opacity 0.9s ease;
  padding: 15px 0px;
  width: max-content;
}

.header-contact-btn:hover {
  background: linear-gradient(to top right, #84AEEC, #FFFFFF);
  opacity: 1;
  transition: background 0.9s ease, opacity 0.9s ease;
}


.header-All-Digitaly-btn-div{
  margin-left: 15px;
}


.header-All-Digitaly-btn{
  font-weight: 500;
  background: #003699;
  color: white;
  transition: background 0.3s ease, opacity 0.9s ease;
  padding: 16px 35px;
  width: max-content;
}

.header-All-Digitaly-btn:hover{
  background: linear-gradient(to top right, #84AEEC, #FFFFFF);
  opacity: 1;
  transition: background 0.9s ease, opacity 0.9s ease;
}





.review-section {
  width: 90%;
  margin: auto;
}


.review-card1-col {
  width: 100%;
}

.review-card1 {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.review-card1-ratingrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.review-card1-ratingrow svg {
  color: #1E4379;
  padding-right: 3px;
}

.review-card1-para {
  font-weight: 500;
}

.review-card1-para span {
  font-weight: 700;
}


.review-card1-clientDetails {
  display: flex;
  flex-direction: row;
}

.review-card1-clientDetails img {
  width: 20% !important;
}

.review-card1-clientDetails-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 8px;
}


.review-card1-clientDetails-col h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.review-card1-clientDetails-col p {
  margin-bottom: 0px;
}




































.lagence-sec1 {
  height: 95vh;
}

.lagence-sec1-img1 {
  width: 70%;
}



.rectangular-oval-white-sec1 {
  position: absolute;
  z-index: -1;
  top: -30%;
  right: 0;
}

.lagence-sec1-img1-2 {
  width: 100%;
  height: auto;
  /* border: 3px solid red; */
}




.lagence-sec2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
}


.rectangular-oval-white1-lagence {
  position: absolute;
  z-index: -1;
  /* top: 0; */
  left: 0;
}


.lagence-sec1-img2 {
  width: 65%;
}



.lagence-sec3 {
  height: 110vh;
  display: flex;
  flex-direction: row;
}



.rectangular-oval-white2-lagence {
  position: absolute;
  z-index: -1;
  /* top: -10%; */
  right: 0;
  margin-top: -25pc;
}

.lagence-sec1-img3 {
  width: 100%;
  /* height: 160vh; */
}



.lagence-sec4 {
  height: 100vh;
  display: flex;
  flex-direction: row;
}


.lagence-sample-img {
  width: 80%;
  animation: levitate 1.3s infinite alternate;
  /* border: 3px solid #87B0ED; */
}





.project-sec-btn {
  color: #1B4178;
  background-color: #FFFFFF;
}

.project-sec-btn:hover {
  color: white;
  background-color: #3A5A9D;
}



















.contact-sec1 {
  padding-top: 5pc;
  padding-bottom: 4pc;
}

.contact-container{
  width: 90%;
  margin: auto;
}


.contact-row {
  height: max-content !important;
  /* margin-top: 0px !important; */
  padding-top: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0pc;

}



.contact-col1-heading {
  font-size: 1.9rem;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  width: max-content;
  text-transform: uppercase;
}

.contact-col1-heading2 {
  font-weight: 600;
  color: white;

}

.contact-col1-para {
  width: max-content;
  font-size: 14.5px;
  margin-top: 12px;
  color: white;
}









/* .contact-form-col2{
  width: 50%;
} */

@media (min-width: 1397px) and (max-width: 1700px) {
  .contact-form-col2 {
    width: 50%;
    /* border: 3px solid brown; */
  }


  .lenterprise-sub-dropdown {
    display: flex;
    /* flex-direction: column; */
    background: rgba(0, 54, 153, 1);
    width: 85%;
    height: max-content;
    /* border: 2px solid red; */
    position: absolute;
    border-radius: 12px;
    z-index: 200;

    left: 50%;
    transform: translateX(-50%)!important;
  }
}

@media (min-width: 1281px) and (max-width: 1396px) {
  .contact-form-col2 {
    width: 47%;
    /* border: 3px solid palevioletred; */
  }

  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 14px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
    display: flex;
    /* flex-direction: column; */
    background: rgba(0, 54, 153, 1);
    width: 86%;
    height: max-content;
    /* border: 2px solid yellow; */
    position: absolute;
    border-radius: 12px;
    z-index: 200;

    left: 50%;
    transform: translateX(-50%)!important;
  }
}


@media (min-width: 1190px) and (max-width: 1280px) {
  .contact-form-col2 {
    width: 45%;
    /* border: 3px solid palevioletred; */
  }

  .contact-col1-heading {
    font-size: 1.8rem;
  }

  .contact-col1-para {
    width: max-content;
    font-size: 13.7px;
    margin-top: 12px;
  }


  .lenterprise-sub-dropdown {
    display: flex;
    /* flex-direction: column; */
    background: rgba(0, 54, 153, 1);
    width: 87%;
    height: max-content;
    /* border: 2px solid pink; */
    position: absolute;
    border-radius: 12px;
    z-index: 200;

    left: 50%;
    transform: translateX(-50%)!important;
  }


}




.contact-us-row-formField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.contact-form-input-label {
  color: white;
  float: left;
  margin-bottom: 5px;
}

.contact-form-input-label span {
  color: rgba(140, 179, 237, 1);
}




.contact-input input {
  color: gray !important;
  border: none !important;
  background: ;
  padding: 12px 10px 12px 10px !important;
  font-size: 15px;
  border-radius: 10px !important;

}

.contact-input input:hover {
  border: none !important;
}









.contact-phoneNumberInput input {
  color: gray !important;
  border: none !important;
  background: ;
  padding: 11px 10px 11px 10px !important;

  border-radius: 10px;

  /* 
  border-radius: 0px 10px 10px 0px;
-webkit-border-radius: 0px 10px 10px 0px;
-moz-border-radius: 0px 10px 10px 0px; */

}







.css-4bojcr-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 5px !important;
}








.css-1xp5r68-MuiFormControl-root-MuiTextField-root {
  background: white !important;
  width: 100% !important;
  border-radius: 10px !important;
}

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root {
  background: white !important;
  width: 100% !important;
  border-radius: 10px !important;
}




.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  top: -3.5px !important;
  color: gray !important;
  font-size: 16px !important;
}


.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
  /* border: 1px solid white; */
}

.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}


.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: none !important;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-size: 18px !important;
  color: #748BAD !important;

}

.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #748BAD !important;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:focus {
  /* border: 4px solid  palevioletred!important; */
}

.MuiPhoneNumber-positionStart {
  /* border: 2px solid red; */
}




.css-aixiz9-MuiButtonBase-root-MuiIconButton-root {
  /* background-color: red!important; */
  border-radius: 0% !important;
  padding-left: 8px !important;
}

.MuiPhoneNumber-flagButton {
  height: 30px;
  padding: 0;
  min-width: 50px !important;
  padding-left: 15px !important;
}

.phoneNumber-arrow {
  position: absolute;
  left: 2.8pc;
  top: 3.2pc;
  transform: translateY(-50%);
  color: grey;
  pointer-events: none;
  font-size: 16px;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::before {
  /* border-bottom: none!important; */
}

.css-5h82ro-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: none !important;

}

.css-5h82ro-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}





textarea {
  /* background: white!important; */
}



.contact-us-input-left {
  padding-right: 10px !important;

}

.contact-us-input-right {
  padding-left: 10px !important;

}



.contact-us-input-objet {
  margin-bottom: 15px;

}



/* .contact-input textarea{
  color: rgba(204, 204, 204, 1)!important;
  border: 2px solid white!important;
  background: ;
  padding: 7px 10px 15px 10px!important;
  height: 92px!important;
  border-radius: 10px!important;

} */

.css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #748BAD !important;
}

.contact-us-message {
  /* border: 2px solid red; */
}


.contact-us-checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}


.contact-us-checkbox p {
  color: white;
  font-size: 14px;
  margin-bottom: 0px;
}


.css-1umw9bq-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em !important;
  height: 1em !important;
  fill: white !important;
}

.css-r3djoj-MuiTouchRipple-root {

  left: -10px !important;

}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: white !important;
}

.contact-us-submitBtn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 20px;
}

.contact-us-submitBtn button {
  background-color: rgba(0, 54, 153, 1);
  border: none;
  border-radius: 12px;
  padding: 10px 25px 10px 25px;
  color: white;
  transition: 0.3s;
}

.contact-us-submitBtn button:hover {
  background-color: #3A5A9D;
}











.temporary-down-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}


.temporary-down-section h1 {
  margin-bottom: 30px;
}



.temporary-down-section p {
  text-align: center;
}


.temporary-down-section-para span {
  font-weight: bold;
}



.temporary-down-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.temporary-down-btns a {
  background-color: #003699;
  color: white;
  text-decoration: none;
  align-self: center;
  margin-bottom: 0px;
  padding: 12px 30px;
  border-radius: 4px;
}

.temporary-down-btns p {
  margin-bottom: 0px;
}

.temporary-down-last-div {
  margin-top: 10px;
  margin-bottom: 0px;
}
































.footer-contact-div {
  width: 90%;
  margin: auto;
}

.footer-contact-div-para {
  font-size: 16px;
  font-weight: 600;
}


.footer-contact-div-contactBtn {
  width: max-content;
  background-color: #112543;
}

.footer-contact-div-contactBtn:hover {
  background-color: #6F9FDD;
}


.footer-container {
  width: 90%;
  /* border: 3px solid red; */
  margin: auto;
}

.footer-links-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}


.footer-sec-icons {
  display: flex;
  flex-direction: row;
}

.footer-sec-icons svg {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

.footer-sec-icons svg:hover {
  color: white;
}

.footer-sec-icons-mobile{
  display: none;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.781);
  font-weight: 400;
}

.footer-links a:hover {
  color: #A0B9E6;
}


.footer-links-2 {
  width: 25%;
}

.footer-links-3 {
  width: 16%;
}

.footer-links-4 {
  width: 16.2%;
}


.footer-links-5,
.footer-links-6 {
  width: 15%;
}







.service-heading {}

.servive-overlap-para strong {
  font-size: 34px;
  font-weight: 500;
}


.ceo-sec-para {
  margin-bottom: 50px;
  font-size: 20px;
}






























@media screen and (max-width:768px) {


  .navbar {
    display: none;
  }


  
  .main-subheader p {
    font-size: 12px;
  }



  .main-subheader {
    padding: 10px 10px;
  }


  .language-change-dropdown-column {
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px 7px;
  }

  .language-change-dropdown-icon {
    width: 38%;
  }

  .language-change-dropdown p {
    font-size: 15px;
  }

  .language-change-dropdown-2 {
    top: 7.7pc;
    padding: 3px;
    border-radius: 11px;
    /* right: 3.4pc; */
  }

  .language-change-dropdown-2 img {
    width: 33%;
  }

  .language-change-dropdown-2 p {
    font-size: 15px;
  }

  .open-menu-icon {
    padding: 0px 10px;
  }

  .header-contact-btn-div{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  

  .header-contact-btn {
    padding: 16px 35px;
  }


  .sec-1 .lagence-row {
    height: max-content !important;
    /* margin-top: 0px !important; */
    padding-top: 0px !important;

  }

  .lagence-sec1 {
    height: max-content;
  }

  .lagence-sec1-img1 {
    width: 100%;
  }


  .lagence-sec2 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }



  .rectangular-oval-white-prop{
    display: none;
  }

  .rectangular-oval-white-sec1 {
    position: absolute;
    z-index: -1;
    top: 30%;
    right: 0;
  }

  .lagence-sec1-img1-2 {
    width: 100%;
    height: 110vh;
  }


  .lagence-sec1-img2 {
    width: 100%;
  }

  .rectangular-oval-white2-lagence {
    margin-top: -6pc;
  }

  .lagence-sec1-img3 {
    width: 100%;
    height: 75vh;

  }


  .lagence-sec3 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }

  .lagence-sec4 {
    height: max-content;
    display: flex;
    flex-direction: row;
  }


  .gradient-cus-box-sty {
    padding: 20px !important;
  }


  .sec-5 {
    position: relative;
    top: 80px;
    margin-top: 0pc;
  }

  .sec-6 {
    padding-top: 60px;
  }


  .footer-sec {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .footer-copyright-para {
    font-size: 15px;
    text-align: center;
  }


  .review-card1-clientDetails-col h4 {
    font-size: 15px;
  }


  .servive-overlap-para strong {
    font-size: 30px;
    font-weight: 500;
  }


  .text-overlay-services {
    margin-bottom: 65px !important;
  }



  .p-text-adjust-sty-project {
    left: 21%;
  }


  .p-text-adjust-sty-testimonial-div {
    left: 7%;
  }


  .footer-div-heading{
    font-size: 30px;
  }

  .footer-links-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap !important;
    align-items: center;
  }

  .footer-links-2,
.footer-links-3,
.footer-links-4,
.footer-links-5,
.footer-links-6{
  width: 90%;
}

.footer-sec-icons {
  display: none;
  flex-direction: row;
}

.footer-sec-icons-mobile{
  display: flex!important;
  margin-top: 20px;
}







.contact-sec1 {
  padding-top: 3pc;
  padding-bottom: 2pc;
}

.contact-container{
  width: 100%;
  margin: auto;
}

.contact-row{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin: auto;
}

.contact-col1-para {
  width: 100%;
  font-size: 14px;
}

.contact-col1-heading {
 width: 100%;
 font-size: 23px;
}


.contact-form-col2{
  margin-top: 2pc;
}

.contact-us-row-formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.contact-us-input-right {
  padding-left: 0px !important;
  padding-bottom: 15px;
}

.contact-us-input-left {
  padding-right: 0px !important;
  padding-bottom: 15px;
}
.contact-us-checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}















}

@media screen and (min-width: 1200px) and (max-width: 1420px) {
  .review-card1-clientDetails-col h4 {
    font-size: 16px !important;
  }
}